.nav  {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 10vh;
    background-color: #d4deedec; 
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%); 
    width: 100vw;
    padding: 0.2vw; 
    box-sizing: border-box; 
    margin-top: -50vh;

    position: sticky;


  }

.nav .login,
.nav .home,
.nav .recipeBooks
{
  color: #000; 
  font-size: 1.2rem;
  text-decoration: none; 
  padding: 0.5rem 1rem; 
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav .login,
.nav .home,
.nav .recipeBooks:hover{
  transform: scale(1.1); 
 color: #53c2e6;
}

  
html {
    scroll-behavior: smooth; 
  }

.nameStyle{
  color: #53c2e6;
  margin-left: 87vw;
  margin-top: -9vh;
}

.profile{
  width: 5vw;
  height: 9.5vh;
  margin-left: 43.5vw;
}
